@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './style/variables.scss';
@import './style/common-classes.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100%;
}

#root,
.bg {
  height: 100%;
}

.bg {
  background-color: $backG;
}

button,
select {
  cursor: pointer;
}

.wrapper {
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0% 0% 1% 0%;
}

.errorous {
  background-color: $reddy;
  padding: 1%;
  text-align: center;
  border-radius: 5px;
  margin: 10% auto;
  font-weight: bold;
}

.shady {
  filter: brightness(80%);
  pointer-events: none;
}

header {
  width: 100%;
  background-color: $lightblue;
  text-align: center;
  padding: 2%;
  font-weight: bolder;
  border-radius: 0px 0px 15px 15px;
}

.main {
  width: 90%;
  display: flex;
  justify-content: center;
  height: 30%;
}

.main.lower {
  height: 50%;
}

.holder {
  background-color: $lightblue;
  padding: 1%;
  width: 100%;
  border: 5px solid $reddy;
  border-radius: 5px;
}

.upper-left {
  display: flex;
  justify-content: center;
  width: 75%;
}

.input-holder {
  flex-direction: column;
  margin: 1%;
  width: 75%;
}

form {
  flex-direction: column;
}

input {
  max-width: 80%;
  outline: none;
  margin-bottom: 2%;

  &:checked + .slider {
    background-image: $ruFlagBG;
  }

  &:checked + .slider:before {
    background-image: $huFlagBG;
  }

  &:focus + .slider {
    box-shadow: 0 0 1px #041c30;
  }

  &:checked + .slider:before {
    transform: translateX(26px);
  }
}

.keyboard {
  flex-wrap: wrap;
  justify-content: space-around;
}

.key {
  outline: none;
  margin: 1%;
  width: 25px;
}

.key._ {
  flex-grow: 2;
}

.upper-right {
  background-color: $reddy;
  box-shadow: 8px 8px 5px 0px rgba(50, 50, 50, 0.75);
  padding: 1%;
  width: 50%;
  border-radius: 15px;
}

.toggle-holder {
  flex-direction: column;

  label {
    font-weight: bolder;
    text-align: center;
  }
}

.switch {
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  z-index: 0;
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-image: $huFlagBG;
  border-radius: 2px;
  transition: 1s;

  &:before {
    z-index: 0;
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: $ruFlagBG;
    transition: 0.7s;
  }

  &.round:before {
    border-radius: 50%;
  }
}

article {
  border-radius: 2px;
  padding: 0% 0% 0% 0%;
  background-color: $backG;
  width: 90%;
  height: 100%;

  > ul {
    width: 100%;
    height: 80%;
    overflow-y: scroll;

    div {
      width: 50%;
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $reddy;
      border-radius: 5px;
    }

    scrollbar-width: 0.5rem;
    scrollbar-color: $reddy;
  }

  .results-div {
    padding: 0% 1%;
    background-color: $lightblue;
    border-bottom: 1px solid $reddy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    height: 20%;
    width: 100%;
  }

  .label-div {
    display: flex;

    label {
      font-weight: bold;
    }

    select {
      outline: none;
      background-color: $backG;
      border-color: $reddy;
      color: $reddy;
      margin-left: 5%;
    }
  }

  li.flex-center {
    cursor: pointer;
    width: 50%;
    margin: 1% auto;
    padding: 1%;
    background-color: $lightblue;
    border-radius: 2px;
    justify-content: space-between;

    p {
      display: flex;
      flex-direction: column;
    }

    .up {
      display: flex;
      align-items: center;
      color: $reddy;
      margin-bottom: 8px;
      span {
        display: inline-block;
        box-shadow: $flagShadow;
        margin-right: 8px;
        width: 25px;
        height: 18px;
        background-image: $ruFlagBG;
      }
    }

    .down {
      color: $navyblue;
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        box-shadow: $flagShadow;
        margin-right: 8px;
        width: 25px;
        height: 18px;
        background-image: $huFlagBG;
      }
    }

    p:nth-child(2) {
      color: $navyblue;
    }

    p:nth-child(2) span {
      text-align: end;
    }
  }

  li:active {
    transition: 0.5s ease;
    background-color: rgba(50, 50, 50, 0.75);
  }
}

h4 {
  padding: 0% 1% 1% 1%;
  margin-bottom: 1%;
  background-color: $lightblue;
  border-radius: 2px;
}

.details {
  z-index: 1;
  position: absolute;
  margin: 0;
  padding: 1%;
  top: 50%;
  left: 50%;
  min-height: 75%;
  min-width: 75%;
  max-height: 98%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  background-color: $navyblue;
  border: 2px solid $reddy;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    align-self: flex-end;
    justify-self: flex-start;
    font-weight: bolder;
    background-color: transparent;
    color: $reddy;
    padding: 0.5%;
    border: none;
    outline: none;
  }

  button:hover {
    color: $lightblue;
  }

  button:active {
    filter: brightness(120%);
  }
}

.table-div {
  flex-direction: column;
  padding: 2%;
  min-height: 100%;
  min-width: 90%;
  max-width: 100%;

  h4 {
    height: 5%;
  }

  div {
    width: 100%;
  }
}

table {
  background-color: $lightblue;
  width: 100%;

  * {
    padding: 1%;
    font-size: 0.95rem;
  }

  th {
    color: $lightblue;
    background-color: $navyblue;
    border-radius: 2px;
    border-left: 1.5px solid $reddy;
    border-right: 1.5px solid $reddy;
  }

  td,
  th {
    text-align: center;
  }
}
@media screen and (max-width: 1080px) {
  .key {
    width: 15px;
  }

  article li.flex-center {
    width: 95%;
  }

  .details {
    min-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  table {
    * {
      padding: 1%;
      font-size: 0.6rem;
    }
  }
}

@media screen and (max-height: 450px) {
  .main.upper {
    display: none;
  }

  .main.lower {
    height: 85%;
  }
}

@media screen and (max-width: 400px) {
  .flex-center.toggle-holder {
    display: none;
  }
}

@media screen and (max-width: 220px) {
  .wrapper {
    * {
      display: none;
    }
  }
}

@media screen and (hover: none) {
  html {
    min-height: -webkit-fill-available;
  }
  body {
    min-height: 100%;
    min-height: -webkit-fill-available;
  }

  .flex-center.toggle-holder {
    display: none;
  }

  @media screen and (max-height: 400px) {
    .main.upper {
      display: block;
      margin-bottom: 30%;
    }

    .main.lower {
      display: none;
    }
  }

  .upper-left {
    width: 100%;
    height: 100%;
    .flex-center.input-holder {
      width: 100%;
      height: 100%;
      form.flex-center {
        flex-direction: row;
        width: 100%;
        height: 100%;
        input {
          margin: 0px 5px 0px 0px;
          padding-left: 5px;
          width: 90%;
          height: 50%;
        }
      }
    }
  }

  article {
    width: 100%;
  }

  .flex-center.keyboard {
    display: none;
  }

  .main.upper {
    height: 10%;
  }

  .main.lower {
    height: 70%;
  }

  li.flex-center {
    pointer-events: none;
  }
}
