@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --lightblue: rgb(201, 214, 231);
  --navyblue: #314285;
  --reddy: rgb(250, 6, 6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body,
#root,
.bg {
  height: 100%;
}

.bg {
  background-color: var(--navyblue);
}

button {
  cursor: pointer;
}

.wrapper {
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shady {
  filter: brightness(75%);
  pointer-events: none;
}

header {
  width: 90%;
  background-color: var(--lightblue);
  text-align: center;
  padding: 1%;
  font-weight: bolder;
  border-radius: 0px 0px 15px 15px;
}

.main {
  width: 90%;
  display: flex;
  justify-content: center;
  height: 30%;
}

.main.lower {
  height: 50%;
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightblue);
  padding: 1%;
  width: 100%;
  border: 5px solid var(--reddy);
  border-radius: 5px;
}

.upper-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
}

.input-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  max-width: 80%;
  outline: none;
  margin-bottom: 2%;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.key {
  outline: none;
  margin: 1%;
  width: 25px;
}

.key._ {
  flex-grow: 2;
}

.upper-right {
  background-color: var(--reddy);
  box-shadow: 8px 8px 5px 0px rgba(50, 50, 50, 0.75);
  padding: 1%;
  width: 50%;
  border-radius: 15px;
}

.toggle-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  z-index: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, red 33.3%, white 33.3%, white 66.6%, green 66.6%);
  border-radius: 2px;
  transition: 1s;
}

.slider:before {
  z-index: 0;
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: linear-gradient(to bottom, white 33.3%, blue 33.3%, blue 66.6%, red 66.6%);
  transition: 0.7s;
}

input:checked + .slider {
  background-image: linear-gradient(to bottom, white 33.3%, blue 33.3%, blue 66.6%, red 66.6%);
}

input:checked + .slider:before {
  background-image: linear-gradient(to bottom, red 33.3%, white 33.3%, white 66.6%, green 66.6%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #041c30;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-holder label {
  font-weight: bolder;
  text-align: center;
}

.slider.round:before {
  border-radius: 50%;
}

.lower-parts {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100%;
}

article {
  border-radius: 2px;
  padding: 0% 0% 2% 0%;
  background-color: var(--navyblue);
}

article > ul {
  display: flex;
  justify-content: center;
}

article .results-div {
  border-bottom: 1px solid var(--reddy);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label-div {
  margin-left: auto;
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.label-div label {
  color: var(--navyblue);
  font-weight: bold;
}

article div {
  background-color: var(--lightblue);
  text-align: center;
  padding: 1%;
  border-radius: 2px;
}

.lower-parts:nth-child(1) article {
  width: 100%;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 1% 1% 1%;
  margin-bottom: 1%;
  background-color: var(--lightblue);
  border-radius: 2px;
}

article li {
  cursor: pointer;
  width: 50%;
  margin: 1%;
  padding: 1%;
  background-color: var(--lightblue);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

article li:active {
  transition: 0.5s ease;
  background-color: rgba(50, 50, 50, 0.75);
}

.details {
  z-index: 1;
  position: absolute;
  margin: 0;
  padding: 1%;
  top: 50%;
  left: 50%;
  min-height: 50%;
  min-width: 50%;
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--navyblue);
  border: 2px solid var(--reddy);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details button {
  align-self: flex-end;
  justify-self: flex-start;
  font-weight: bolder;
  background-color: transparent;
  color: var(--reddy);
  padding: 0.5%;
  border: none;
  outline: none;
}

.details button:hover {
  color: var(--lightblue);
}

.details button:active {
  filter: brightness(120%);
}

.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  height: 100%;
}

.table-div h4 {
  height: 5%;
}

table {
  background-color: var(--lightblue);
  display: flex;
  justify-content: center;
  height: 10%;
}

table * {
  padding: 1%;
  font-size: 0.95rem;
}

th {
  color: var(--lightblue);
  background-color: var(--navyblue);
  border-radius: 2px;
  border-left: 1.5px solid var(--reddy);
  border-right: 1.5px solid var(--reddy);
}

td,
th {
  text-align: center;
}

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--lightblue);
  font-weight: bolder;
}
