$lightblue: rgb(201, 214, 231);
$navyblue: #314285;
$reddy: rgb(250, 6, 6);
$backG: rgba(16, 58, 175, 0.8);
$ruFlagBG: linear-gradient(to bottom, white 33.3%, blue 33.3%, blue 66.6%, red 66.6%);
$huFlagBG: linear-gradient(to bottom, red 33.3%, white 33.3%, white 66.6%, green 66.6%);
$flagShadow: 0px 0px 7px -2px #000000;
