@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --lightblue: rgb(201, 214, 231);
  --navyblue: #16245e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

button {
  cursor: pointer;
}

header {
  width: 90%;
  background-color: var(--lightblue);
  text-align: center;
  padding: 1%;
  font-weight: bolder;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.wrapper {
  width: 100%;
  background-color: var(--navyblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 90%;
  display: flex;
  justify-content: center;
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightblue);
  padding: 2%;
  margin: 4%;
  border-color: rgb(250, 6, 6);
  border-style: solid;
  border-radius: 5px;
}

.upper-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
}

.input-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  max-width: 80%;
  outline: none;
  margin-bottom: 2%;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.key {
  outline: none;
  margin: 1%;
  width: 25px;
}

.key._ {
  flex-grow: 2;
}

.upper-right {
  background-color: rgb(250, 6, 6);
  box-shadow: 8px 8px 5px 0px rgba(50, 50, 50, 0.75);
  padding: 1%;
  width: 50%;
  border-radius: 15px;
}

.toggle-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, red 33.3%, white 33.3%, white 66.6%, green 66.6%);
  border-radius: 2px;
  transition: 1s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: linear-gradient(to bottom, white 33.3%, blue 33.3%, blue 66.6%, red 66.6%);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

input:checked + .slider {
  background-image: linear-gradient(to bottom, white 33.3%, blue 33.3%, blue 66.6%, red 66.6%);
}

input:checked + .slider:before {
  background-image: linear-gradient(to bottom, red 33.3%, white 33.3%, white 66.6%, green 66.6%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #041c30;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-holder label {
  font-weight: bolder;
}

.slider.round:before {
  border-radius: 50%;
}

.lower.main {
  display: flex;
  flex-direction: column;
}

.lower-parts {
  display: flex;
  justify-content: center;
}
.lower-parts:nth-child(1) {
  width: 45%;
}

article {
  border-radius: 2px;
  padding: 2%;
  background-color: var(--navyblue);
}

article div {
  background-color: var(--lightblue);
  text-align: center;
  padding: 1%;
}

.lower-parts:nth-child(1) article {
  width: 100%;
}

article h4 {
  text-align: center;
  padding: 1%;
  margin-bottom: 2%;
  background-color: var(--lightblue);
  border-radius: 2px;
}

article li {
  cursor: pointer;
  margin: 1%;
  padding: 1%;
  background-color: var(--lightblue);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

article li:active {
  transition: 0.5s ease;
  background-color: rgba(50, 50, 50, 0.75);
}

.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  background-color: var(--lightblue);
  display: flex;
  flex-wrap: wrap;
  margin: 4%;
}

th {
  color: var(--lightblue);
  background-color: var(--navyblue);
  padding: 1%;
  border-radius: 2px;
  border-left: 1.5px solid rgb(250, 6, 6);
  border-right: 1.5px solid rgb(250, 6, 6);
}

td {
  text-align: center;
}

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--lightblue);
  font-weight: bolder;
}
